USE [master]
GO
/****** Object:  Database [CARVAJAL]    Script Date: 15/01/2023 7:40:28 p. m. ******/
CREATE DATABASE [CARVAJAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CARVAJAL', FILENAME = N'/var/opt/mssql/data/CARVAJAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CARVAJAL_log', FILENAME = N'/var/opt/mssql/data/CARVAJAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CARVAJAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CARVAJAL]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 15/01/2023 7:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[PedID] [int] IDENTITY(1,1) NOT NULL,
	[PedUsu] [int] NULL,
	[PedUsuDesc] [varchar](50) NULL,
	[pedPro] [int] NULL,
	[ProDesc] [varchar](50) NULL,
	[pedVrUnit] [money] NULL,
	[PedCant] [int] NULL,
	[PedSubtot] [money] NULL,
	[PedIVA] [float] NULL,
	[PedTotal] [money] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[PedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 15/01/2023 7:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProID] [int] IDENTITY(1,1) NOT NULL,
	[ProDesc] [varchar](50) NULL,
	[ProValor] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/01/2023 7:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuID] [int] NOT NULL,
	[UsuNombre] [varchar](50) NOT NULL,
	[UsuPass] [varbinary](max) NOT NULL,
	[Salt] [varchar](50) NOT NULL,
	[Tipo] [varchar](10) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('usuario') FOR [Tipo]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Productos] FOREIGN KEY([pedPro])
REFERENCES [dbo].[Productos] ([ProID])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([PedUsu])
REFERENCES [dbo].[Usuarios] ([UsuID])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Tipo]='admin' OR [Tipo]='usuario'))
GO
/****** Object:  StoredProcedure [dbo].[sp.create_movement]    Script Date: 15/01/2023 7:40:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp.create_movement]
 @PedUsu int,
 @pedPro int,
 @pedVrUnit numeric,
 @PedCant numeric,
 @PedID numeric

AS

DECLARE @_PedSubtot AS numeric
DECLARE @_PedIVA AS numeric
DECLARE @_PedTotal AS numeric
BEGIN
	
	SET @_PedSubtot =(@pedVrUnit*@PedCant)
	SET @_PedIVA =(((@pedVrUnit*@PedCant)*19)/100)
	SET @_PedTotal =(@_PedSubtot+ @_PedIVA)

	 UPDATE [dbo].[Pedidos]
	 SET [PedUsuDesc]= (SELECT [UsuNombre] FROM [dbo].[Usuarios] WHERE [UsuID]= @PedUsu),
		 [PedSubtot]	= @_PedSubtot,
	     [PedIVA]		= @_PedIVA,
		 [PedTotal]		= @_PedTotal,
		 [ProDesc]= (SELECT  [ProDesc] FROM [dbo].[Productos] WHERE [ProID]= @pedPro)
	 WHERE [PedID]=	@PedID 


END
GO
USE [master]
GO
